# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py,cover
.venv/
venv/
env/
.env

# Data and backups
data/raw_images/
data/processed/
models/
*.db
*.sqlite3

# IDE and editor specific files
.vscode/
.idea/
.ipynb_checkpoints/

# Other
*.log
*.bak
*.tmp